<MajordomoConfig xmlns="http://www.example.org/MajordomoConfiguration">
    <debug>false</debug>
    <canonicalHostName></canonicalHostName>
    <ipAddress></ipAddress>
    <pollInterval>10</pollInterval>
    <workbenches>
        <hostName>172.20.117.39</hostName>
        <port>7080</port>
    </workbenches>
    <workbenches>
        <hostName>172.18.12.106</hostName>
        <port>7080</port>
    </workbenches>
    <workbenches>
        <hostName>172.20.117.40</hostName>
        <port>7080</port>
    </workbenches>
</MajordomoConfig>
